{% extends "base.html" %} {% block title %} CardPond - About {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
{% load static %}
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet" />

<center style="position:relative">
    <div style="width: 100%; height: 80vh; align-items: center; display: flex; flex-direction: column; justify-content: center;">
        <p style="max-width: 300px;">CardPond is a Magic: The Gathering deck analysis website that uses machine learning to graph and cluster cards by their text boxes.</p>
        <p style="max-width: 300px;">Cards on the graph make clusters with mechanically similar cards, which can help you visually see themes in a deck.</p>
        <p style="max-width: 300px;">If you have more questions about how CardPond works, feel free to get in touch!</p>
    </div>
</center>

{% load static %}
<script src="{% static 'js/vector-graph.js' %}" defer></script>
<script src="{% static 'js/interactive_vectors.js' %}" defer></script>
{% endblock %}