{% extends "base.html" %} {% block title %} CardPond - Home {% endblock %}
{% block content %}
<form>
    <div class="input-wrapper">
        <input type="url" id="decklist_url" name="url" placeholder="Decklist URL">
        <label for="decklist_url">Decklist URL</label>
    </div>
    <button type="button" id="submit">Submit</button>
</form>

<div id="recently_visited"></div>

{% load static %}
<script src="{% static 'js/vector-helper.js' %}" defer></script>
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}