* { padding: 0; margin: 0; }

* {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: -0.03em;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: rgb(226, 226, 226);
    --text-color: #b8b8b8;
    --accent-color: #1a1a1c;
    --confirm-color: #186df6;
}

#website-name {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #2f2f2f
}

.navbar-nav {
    align-items: bottom;
}

nav {
    background-color: azure;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

main {
    flex: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.item-full {
  /* Spans all 12 columns (full width) */
  grid-column: span 12;
}

.item-more {
  grid-column: span 8;
}

.item-half {
  /* Spans 6 columns (half width) */
  grid-column: span 6;
}

.item-less {
    grid-column: span 4;
}

#lily-pond {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
}

footer{
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center;
}

footer a {
    color: #7bbff3;
}

#interactive-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 1em;
    padding: 1em;
}

#card_info, #card_list, #legend {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    aspect-ratio: 3 / 5;
}

#card_list, #legend {
    overflow-y: auto;
    align-items: left;
}

#card_list > *, #legend > * {
    border-bottom: 1px solid #000000;
}

#card_map {
    padding: 0px;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 1em .2em var(--secondary-color);
    width: 60%;
    height: 70vh;
    overflow: hidden;
}

#card_map canvas {
    inset: 0;
    height: 100%;
}

#hover_img {
    max-width: 100%;
}

@media (max-width: 700px) {
  #interactive-content {
    flex-wrap: wrap;
    flex-direction: row;
  }
  #card_map {
    padding-top: 10px;
    width: 100%;
    order: 0;
  }
  #legend {
    padding-top: 10px;
    width: 45%;
    align-self: right center;
    aspect-ratio: unset;
    order: 1;
  }
  #card_info {
    padding-top: 10px;
    width: 45%;
    height: auto;
    order: 2;
  }
}

.loading-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-popup {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
}

form {
    padding-top: 20px;
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.input-wrapper {
    position: relative;
    width: 25em;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

form input {
    width: 100%;
    padding: .5em;
    color: var(--text-color);
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 0em var(--primary-color),
                0 0 0 .1em var(--secondary-color);
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.5, 0.45, 0.94);
}
form input::placeholder {
    color: var(--text-color);
    opacity: 0;
    transition: .3s ease-in-out;
    max-width: 70%;
}
form input:focus::placeholder {
    opacity: 1;
}
form input:focus {
    outline: none;
    box-shadow: 0 0 0 0em var(--primary-color),
                0 0 0 .1em var(--secondary-color),
                0 0 0 .1em var(--primary-color),
                0 0 0 .25em var(--confirm-color);
    color: (var(--accent-color));
}

form label {
    position: absolute;
    width: 100%;
    align-self: left;
    display: block;
    padding-left: 1em;
    font-size: 18px;
    color: var(--text-color);
    transform: translateY(50%);
    user-select: none;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.45, 0.94);
}

form input:focus ~ label {
    transform: translateY(50%) translateX(100%) translateX(-7.5em);
    color: var(--accent-color);

}

form input:not(:placeholder-shown) ~ label,
form input:-webkit-autofill:active ~ label {
    transform: translateY(-80%) translateX(100%) translateX(-7.5em);
}
form input:-webkit-autofill:active ~ label {
    color: var(--accent-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-size-adjust: none;
    transition: background-color 5000s ease-in-out 0s;
}

form button {
    padding: .5em 1em;
    width: auto;
    height: auto;
    color: white;
    background-color: var(--confirm-color);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.45, 0.94);
    box-shadow: 0 0 .5em .2em var(--secondary-color);
}

form button:hover {
    box-shadow: 0 0 0 .1em var(--secondary-color),
                0 0 0px .25em var(--confirm-color);
    color: var(--accent-color);
    cursor: pointer;
}

.recent_container {
    height: 100%;
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.recent_container h4 {
    align-self: flex-start;
}

.recently_visited, .info-card-container {
    width: 100%;
    padding: 8px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.recent_deck, .info-card {
    background: var(--primary-color);
    background-position: 50% 20%;
    background-size: 150%;
    border-radius: 10px;
    border: None;
    width: 18em;
    aspect-ratio: 4 / 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    padding-left: .5em;
    padding-bottom: .25em;
    color: var(--secondary-color);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 0 0 var(--confirm-color),
                0 0 .5em .2em var(--secondary-color);
}

.info-card {
    color: var(--accent-color);
    padding: 1em;
    text-align: center;
    font-weight: normal;
    align-content: center;
    justify-content: center;
}

.recent_deck:hover {
    box-shadow: 0 0 .1em .1em var(--confirm-color),
                0 0 .5em .2em var(--secondary-color);
}